

<!DOCTYPE html>
<html>
<head>
  <title>Rundown</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="landing">

<div class="logo" >
  <h1>Rund<span style="color: rgb(85, 100, 163);">&#8251;</span>wn</h1>
</div>

<div class="velid-logo" style="">
  by 
  <a href="http://velidit.com">
    <span style="color:green;">V</span>elid
  </a>
</div>

</body>
</html>
