body.landing div.logo {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 60%;
    top: 40%;
    margin: auto;
    width: 250px;
     -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    color: black;
    font-size: 18px;
}

div.velid-logo {
    font-size: 15px; 
    font-style: italic; 
    position: absolute; 
    bottom: 0; 
    right: 0;
    margin: 20px;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        background: none;
        color: black;
    }
}